@font-face {
 font-family: 'Titillium Web';
 src: url('../fonts/Titillium_Web/TitilliumWeb-Light.ttf');
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: 'Titillium Web';
 src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'Titillium Web';
 src: url('../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
 font-weight: 600;
 font-style: normal;
}


@font-face {
 font-family: 'Lora';
 src: url('../fonts/Lora/Lora-Regular.ttf');
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'Lora';
 src: url('../fonts/Lora/Lora-Italic.ttf');
 font-weight: 400;
 font-style: italic;
}